.search {
    margin-right: 30px;
}

.card {
    width: 330px;
    height: 265px;
    /*background-color: rgb(174, 212, 255);*/
    background: linear-gradient(155deg, white 50%, rgba(113, 134, 188, 0.50) 100%);
    /*background: linear-gradient(155deg, white 45%, rgba(113, 134, 188) 100%);*/
    border: 1px solid rgb(75, 75, 75);
}

.butn_subm {
    margin-top: 10px;
}

.parent {
    margin-top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
}

.child {
	margin: auto;
    display: inline-flex;
}
.form-control {
    width: 330px;
    border: 1px solid rgb(75, 75, 75);
}
.toast_weather {
    position: absolute;
    right: 0;
    bottom: 0;
    padding-bottom: 15px;
    padding-right: 10px;
}