.main_weather {
    margin: 30px;
    width: 30%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.card {
    /*background-color: rgb(174, 212, 255);*/
    background-color: white;
}